body{
    font-family: Candara;
    font-size: 30px;
    text-align: left;
    width: 100vw;
    height: 100vh;
    background-color: rgb(2, 2, 2);
    flex-direction: column;
}

nav{
    width: 100%;
    height: 7%;
    background-color: #e2bd1a;
}

header{
    width:100%;
    height:30%;
    background-color: #0d5fb6;
}

@media screen and (max-width: 1400px) {
  header{
    height: auto;
  }
  .headerCV{
    flex-direction: row;
  }
  .nomeCV{
    text-align: center;
  }
}

.headerCV{
    width: 100%;
    height: 100%;
}

.fotoCV{
    width: 230px;
    height: 230px;
}

.nomeCV{
    color: white;
    margin: auto;
}

.imgRedesCV{
    margin: auto;
    text-align: center;
}

.redesCV{
    width:60px;
    height:60px;
}

a{
    color: white;
    font-size: 20px;
}

a:hover{
    color:black;
}

h1{
    font-size: 45px;
}

h2{
    font-size:25px;
}

section{
    width: 100%;
    height: auto;
}

.tituloCV{
    background-color: white;
    font-size: 30px;
}

.textoCV{
    background-color:black;
    font-size: 20px;
    color:white;
}